<template>
    <div class="home container">
        <div class="rounded-bottom bg-light mr-2">
            <h1 class="text-center mb-3 py-3">{{ msg }}</h1>
        </div>
        <div class="card mr-2 mb-4">
            <div class="card-header">
                <h2 class="text-center">Score: <span>{{ player.score }}</span></h2>
                <div class="text-center">
                    <b-badge variant="success" class="mr-2 px-2 py-1">Right: {{ player.countCorrect }}</b-badge>
                    <b-badge variant="danger" class="mr-2 px-2 py-1">Wrong:  {{ player.countWrong }}</b-badge>
                    <b-badge variant="info" class="mr-2 px-2 py-1">Guessed:  {{ player.guessed() }} ({{ player.correctPercent() }}%)</b-badge>
                </div>
            </div>
            <div class="card-body text-center">
                <b-button class="mr-1 mb-2" variant="primary" @click="guess(1)">Cat Fact</b-button> 
                <b-button class="mr-1 mb-2" variant="primary" @click="guess(2)">Chuck Norris</b-button> 
                <b-button class="mr-1 mb-2" variant="primary" @click="guess(3)">Donald Trump</b-button>
            </div>
        </div>
        <div>
            <b-alert  variant="info"
                class="mr-2"
                :show="countDownInSeconds"
                @dismissed="countDownInSeconds=0"
                @dismiss-count-down="countDownChanged">
                Hello, a random text will be shown each 10 second, guess the category which is right and earn points.
                The faster you guess the more points you will earn.
                <hr />
                <b-progress
                variant="info"
                :max="startCountDownInSeconds"
                height="1.5rem"
                >
                    <b-progress-bar :value="countDownInSeconds" :label="`${countDownInSeconds} seconds to start`"></b-progress-bar>
                </b-progress>
            </b-alert>
        </div>
        <transition-group id="catFactList" name="list-complete" tag="ul" class="list-unstyled">
          <li v-for="text in randomTexts" v-bind:key="text.id + '_listItem'" class="list-complete-item">
            <b-alert show class="shadow-sm" :variant="text.variant">
                <vue-typed-js :strings="text.ContentInArray()" :showCursor="false" :typeSpeed="10">
                   <span class="typing"></span>
                </vue-typed-js>
                <div>
                <b-badge :variant="text.variant" class="mr-2 px-2 py-1">{{ text.score }}/{{ text.content.length }}</b-badge>
                </div>
              </b-alert>
          </li>
        </transition-group>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import axios from 'axios';
    import Player from '../Player';
    import RandomTextItem from '../RandomTextItem';

    @Component
    /**
    * Vue Home component, the game logic should be moved to another ts class.
    */
    export default class Home extends Vue {
        @Prop() private msg!: string;
        private randomTexts: Array<RandomTextItem> = [];
        private currentTextIndex: number = 0;
        private txtIndex: number = 0;
        private player: Player = new Player();
        private txtInterval?: number;
        public  startCountDownInSeconds: number = 10;
        private countDownInSeconds: number = this.startCountDownInSeconds;
        private endpointUrl: string = window.location.origin;
        private publicPath: string = process.env.BASE_URL;


        /**
         * This method will add score based on content length and time lapse of 10 seconds.
         * @param type enum as int, the player guess from button.
         */
        guess(type: number) : void {
            console.log("Guessed type:", type);

            if (typeof this.randomTexts == 'undefined' || this.randomTexts == null || this.randomTexts.length == 0) {
                return;
            }

            const txt = this.randomTexts[this.currentTextIndex];
            if (txt.type == type) {
                const score = txt.GetPositiveScore();
                console.log("Guessed right!", "Time:", txt.GetTimeLapseInSecond(), "Score:", score);
                this.player.addScore(score);
                this.player.addCorrect();
                txt.variant = "success";
                txt.score = score;
            }
            else {
                const score = txt.GetNegativeScore(10); //Gives negative score 10 = seconds of the time interval.
                console.log("Guessed wrong!", "Time:", txt.GetTimeLapseInSecond(), "Score:", score);
                this.player.addScore(score); //the score is negative
                this.player.addWrong();
                txt.variant = "danger"; //change alert variant;
                txt.score = score;
            }

            //Init a new random text because the player have already guessed the category for the current random text.
            this.initRandomTxt();
        }

        randomText(): void {
            axios.get(this.endpointUrl + "api/random/any").then(response => {
                this.txtIndex++;
                const txt = new RandomTextItem(this.txtIndex, response.data.value);
                txt.content = response.data.value;
                txt.type = response.data.type;
                this.randomTexts.unshift(txt);
                if (this.randomTexts.length >= 4) {
                    this.randomTexts.pop();
                }
  
                this.currentTextIndex = this.randomTexts.indexOf(txt);
            }).catch((error) =>{
                console.log(error);
            });
        }

        /**
         * Vue Method: Triggered random texts on component load.
         */
        created(): void
        {
            axios.get(this.publicPath + "appconfig.json").then(response => {

                console.log("config loaded.", response.data);
                this.endpointUrl = response.data.endpointUrl;
                setTimeout(this.initRandomTxt, this.startCountDownInSeconds * 1000);
            });

        }

        countDownChanged(dismissCountDown: number): void {
            this.countDownInSeconds = dismissCountDown
        }

        initRandomTxt(): void
        {
            if (typeof this.txtInterval != 'undefined' && typeof this.txtInterval != null) {
                clearInterval(this.txtInterval);
                this.txtInterval = undefined;
            }

            this.randomText();
            const self = this;
            this.txtInterval = setInterval(() => {
                self.randomText();
            }, 10000);
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    .list-complete-item {
      transition: all 1s;
      margin-right: 10px;
    }
    .list-complete-enter, .list-complete-leave-to
    /* .list-complete-leave-active below version 2.1.8 */ {
      opacity: 0;
      transform: translateY(30px);
    }
    .list-complete-leave-active {
      position: absolute;
    }

</style>
