<template>
    <div id="app">
        <Home msg="Guess It Text - which category is correct?" />
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import Home from '@/components/Home.vue';
    @Component({
        components: {
            Home
        }
    })

    export default class App extends Vue {

    }
</script>

<style lang="scss">
        @import './assets/main.scss';
</style>
